.play-view {
  width: 100%;

  .control {
    padding: 20px;
    align-items: center;
    justify-content: flex-start;

    h3 {
      margin-left: 20px;
      font-weight: lighter;
      font-size: 30px;
    }
  }

  .cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .control, .cards {
    display: flex;
    margin: 0 auto;
    max-width: $play-cards-max-width;
  }
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
      opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}